type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Install First ProxMox Server"
content: '''
  # Install First ProxMox Server
  
  ## Create VM Template
  
  Property | Value
  --- | ---
  Template | Debian Jessie
  CPU | 1 processor, 1 core
   | Copy Host CPU Configuration
  RAM | 10240 MB
  HDD | 100 GB (virtio) (name=proxmox1)
   | 60 GB SSD (virtio) (name=proxmox1-data)
  Network | management (virtio)
   | provider (virtio)
   | cluster1 (virtio)
   | cluster2 (virtio)
   
  Assign static IP address to management interface
  ```bash
  virsh net-update management add ip-dhcp-host "<host mac='52:54:00:40:76:24' name='proxmox1.arcana.me' ip='192.168.200.2' />" --live --config
  ```
  
  ## Install first instance of ProxMox
  
  Property | Value
  --- | ---
  Target HDD | 100GB data, xfs filesystem
  Management Interface | ens3 (management)
  Hostname | proxmox1.arcana.me
  IP | 192.168.200.2
  Netmask | 255.255.255.0
  Gateway | 192.168.200.1
  DNS | 192.168.200.1
  
  ## Create SSH config in KVM host
  
  ```bash
  vim ~/.ssh/config
  ```
  ```
  Host proxmox1.arcana.me
    Hostname 192.168.200.2
    Port 22
    User root
  ```
  ```bash
  chmod 600 ~/.ssh/config
  ssh-copy-id proxmox1.arcana.me
  ```
  
  ## Navigate to UI
  Open [https://192.168.200.2:8006](https://192.168.200.2:8006) in browser
  
  ## Create Linux Bond for Cluster Network
  
  Property | Value
  --- | ---
  Name | bond0
  IP | -
  Subnet | -
  Gateway | -
  Slaves | ens11(cluster1) ens12(cluster2)
  Mode | balance-xor
  
  ## Create Linux Bridge for Provider Network
  
  Property | Value
  --- | ---
  Name | vmbr1
  IP | -
  Subnet | -
  Gateway | -
  Bridge Ports | ens10 (provider)
  
  ## Create Linux Bridge for Cluster Network
  
  Property | Value
  --- | ---
  Name | vmbr2
  IP | 10.0.6.1
  Subnet | 255.255.240.0
  Gateway | -
  Bridge Ports | bond0
  
  ## Reboot Server
  
  ## Enable ISO Repo over SMB
  
  ```bash
  mkdir -p /srv/iso/{private,root,dump,images,template/{cache,iso,qemu}}
  vi /etc/fstab
  ```
  ```
  //192.168.200.1/iso  /srv/iso/template/iso  cifs  username=root,password=123,iocharset=utf8,sec=ntlm  0  0
  ```
  ```bash
  reboot
  ```
  	Datacenter -> Storage -> Add -> Directory ->
  							ID -> iso
  							Directory -> /srv/iso
  							Content -> ISO Image
  							Nodes -> proxmox1
  
  ## Create Thin Pool on secondary HDD
  
  Find secondary HDD
  ```bash
  lsblk
  ```
  Create a PV (physical volume)
  ```bash
  pvcreate /dev/vdb
  ```
  Create a VG (volume group)
  ```bash
  vgcreate extra1 /dev/vdb
  ```
  Create a Thin Pool
  ```bash
  lvcreate -l 100%FREE -T extra1/data
  ```
  
  	Datacenter -> Storage -> Add -> LVM-Thin ->
  							ID -> extra1
  							Volume group -> extra1
  							Thin Pool -> data
  							Content -> Disk Image, Container
  							Nodes -> proxmox1
                
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-30T10:39:50.333Z"
updatedAt: "2017-09-30T09:17:25.459Z"
