type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Install First ProxMox Server"
content: '''
  # Install First ProxMox Server
  
  ## Create VM Template
  
  Property | Value
  --- | ---
  Template | Debian Jessie
  CPU | 1 processor, 1 core
   | Copy Host CPU Configuration
  RAM | 6144 MB
  HDD | 60 GB (virtio) (name=proxmox1)
   | 40 GB SSD (virtio) (name=proxmox1-data)
  Network | management (virtio)
   | provider (virtio)
   | cluster1 (virtio)
   | cluster2 (virtio)
   
  Assign static IP address to management interface
  ```bash
  virsh net-update management add ip-dhcp-host "<host mac='52:54:00:40:76:24' name='proxmox1.arcana.me' ip='192.168.200.2' />" --live --config
  ```
  
  ## Install first instance of ProxMox
  
  Property | Value
  --- | ---
  Target HDD | 60GB data, xfs filesystem
  Management Interface | ens3 (management)
  Hostname | proxmox1.arcana.me
  IP | 192.168.200.2
  Gateway | 192.168.200.1
  DNS | 192.168.200.1
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-30T10:39:50.333Z"
updatedAt: "2017-08-30T11:00:02.148Z"
