type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create Kerberos Enabled Template VMs"
content: '''
  # Create Kerberos Enabled Template VMs
  
  Property | Value
  --- | ---
  Name | centos7-hardened-ovs-ntp-ceph-dns-ssh-krb
  Clone | centos7-hardened-ovs-ntp-ceph-dns-ssh
  Location | LVM
  
  ## Propagate krb5.conf from SSH machine to existing VMs
  
  ```bash
  scp /etc/krb5.conf centos7.arcana.me:~
  ```
  
  ## Configure VM
  
  ```bash
  # install required packages
  sudo yum install krb5-workstation pam_krb5 haveged rsh
  ```
  ```bash
  # enable entropy generation tool "haveged"
  sudo systemctl restart haveged
  sudo systemctl enable haveged
  sudo systemctl status haveged
  
  # check available system entropy
  sudo cat /proc/sys/kernel/random/entropy_avail
  
  # move krb5.conf to appropriate location
  sudo mv -fv $HOME/krb5.conf /etc/
  sudo chown root:root /etc/krb5.conf
  sudo chmod 644 /etc/krb5.conf
  sudo restorecon -R -v /etc/krb5.conf
  ```
  ```bash
  # create keytab
  sudo kadmin -p arcana/admin
  ```
  ```
  addprinc -randkey host/centos7.arcana.me
  ktadd host/centos7.arcana.me
  quit
  ```
  ```bash
  # enable kerberos login in ssh
  sudo nano -w /etc/ssh/sshd_config
  ```
  ```
  KerberosAuthentication yes
  GSSAPIAuthentication yes
  GSSAPICleanupCredentials yes
  ```
  ```bash
  # restart SSH service
  sudo systemctl restart sshd
  sudo systemctl status sshd
  
  # enable kerberos SSH cient
  nano -w ~/.ssh/config
  ```
  ```
  Host *.arcana.me
  	Port 2122
  	GSSAPIAuthentication yes
  	GSSAPIDelegateCredentials yes
  ```
  ```bash
  chmod 600 ~/.ssh/config
  sudo mkdir -p /home/ceph_u/.ssh
  sudo cp ~/.ssh/config /home/ceph_u/.ssh/
  sudo chown ceph_u:ceph_u /home/ceph_u/.ssh/config
  ```
  ```bash
  # get a ticket
  kinit
  ```
  ```bash
  # view tickets
  klist
  ```
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-19T19:59:54.400Z"
updatedAt: "2017-09-30T20:47:38.202Z"
