type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create DHCP Server"
content: '''
  # Create DHCP Server
  
  Property | Value
  --- | ---
  Name | dhcp.arcana.me
  Clone | centos7-preceph
  Location | RBD
  Start at Boot | Yes
  Boot Order | order=5,up=10,down=10
  
  ## first-run config
  
  ```bash
  sudo hostnamectl set-hostname dhcp.arcana.me
  sudo reboot
  ```
  
  ## assign static IP address to eth1
  
  ```bash
  sudo nano -w /etc/sysconfig/network-scripts/ifcfg-eth2
  ```
  ```
  IPADDR="10.0.0.2"
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  ## configure /etc/hosts
  ```bash
  sudo nano -w /etc/hosts
  ```
  ```
  10.0.0.2    dhcp.arcana.me
  10.0.3.1    router.arcana.me
  10.0.3.2    ntp.arcana.me
  10.0.6.1    proxmox1.arcana.me
  10.0.9.1    centos7-new.arcana.me
  10.0.9.1    centos7-base.arcana.me
  10.0.9.1    centos7-hardened.arcana.me
  10.0.9.1    centos7-hardened-ovs.arcana.me
  10.0.9.2    centos7-preceph.arcana.me
  10.0.9.2    centos7-ceph.arcana.me
  10.0.9.2    centos7-cephmon.arcana.me
  10.0.9.2    centos7-cephosd.arcana.me
  ```
  
  ## Ceph Admin Node
  
  perform these on ceph user
  ```bash
  su - ceph_u
  ```
  ```bash
  cd ~/my-cluster
  
  # add to hosts
  sudo vim /etc/hosts
  ```
  ```
  10.0.0.2    dhcp.arcana.me
  ```
  ```bash
  # copy ssh id
  ~/my-cluster/copy-ssh-id.sh
  ```
  ```bash
  # copy hosts
  ~/my-cluster/copy-hosts.sh
  ```
  
  ## configure dnsmasq
  
  ```bash
  sudo nano -w /etc/dnsmasq.d/arcana.me.conf
  ```
  ```
  dhcp-range=set:cluster,10.0.5.1,10.0.5.254,24h
  dhcp-optsfile=/etc/dnsmasq.arcana.me.opts
  dhcp-hostsfile=/etc/dnsmasq.arcana.me.hosts
  log-dhcp
  domain-needed
  domain=arcana.me
  ```
  ```bash
  sudo nano -w /etc/dnsmasq.arcana.me.opts
  ```
  ```
  tag:cluster,option:router,10.0.3.1
  tag:cluster,option:ntp-server,10.0.3.2
  
  tag:public,option:router
  tag:public,option:ntp-server,10.0.3.2
  ```
  ```bash
  sudo touch /etc/dnsmasq.arcana.me.hosts
  ```
  
  ## enable and start dnsmasq service
  
  ```bash
  sudo systemctl enable dnsmasq
  sudo systemctl restart dnsmasq
  sudo systemctl status dnsmasq
  ```
  
  ## enable port through firewall
  ```bash
  sudo firewall-cmd --reload
  sudo firewall-cmd --permanent --add-port=53/tcp
  sudo firewall-cmd --permanent --add-port=53/udp
  sudo firewall-cmd --permanent --add-port=67/udp
  sudo firewall-cmd --permanent --add-port=68/udp
  sudo firewall-cmd --reload
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-08T06:53:07.793Z"
updatedAt: "2017-09-18T18:49:20.400Z"
