type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create DHCP Server"
content: '''
  # Create DHCP Server
  
  Property | Value
  --- | ---
  Name | dhcp.arcana.me
  Clone | centos7-hardened-ovs-ntp-ceph
  Location | RBD
  Start at Boot | Yes
  Boot Order | order=9,up=20,down=20
  
  ## first-run config
  
  ```bash
  sudo hostnamectl set-hostname dhcp.arcana.me
  sudo reboot
  ```
  
  ## assign static IP address to eth1
  
  ```bash
  sudo nano -w /etc/sysconfig/network-scripts/ifcfg-eth2
  ```
  ```
  IPADDR="10.0.0.2"
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  ## configure /etc/hosts
  ```bash
  sudo nano -w /etc/hosts
  ```
  ```
  10.0.0.2    dhcp.arcana.me
  10.0.3.1    router.arcana.me
  10.0.3.2    ntp.arcana.me
  10.0.6.1    proxmox1.arcana.me
  10.0.9.1    centos7.arcana.me
  ```
  
  ## configure dnsmasq
  
  ```bash
  sudo nano -w /etc/dnsmasq.d/arcana.me.conf
  ```
  ```
  dhcp-range=set:cluster,10.0.5.1,10.0.5.254,24h
  dhcp-optsfile=/etc/dnsmasq.arcana.me.opts
  dhcp-hostsfile=/etc/dnsmasq.arcana.me.hosts
  resolv-file=/etc/dnsmasq.arcana.me.resolv
  log-dhcp
  domain-needed
  domain=arcana.me
  ```
  ```bash
  sudo nano -w /etc/dnsmasq.arcana.me.opts
  ```
  ```
  tag:cluster,option:router,10.0.3.1
  tag:cluster,option:ntp-server,10.0.3.2
  
  tag:public,option:router
  tag:public,option:ntp-server,10.0.3.2
  ```
  ```bash
  sudo touch /etc/dnsmasq.arcana.me.hosts
  sudo nano -w /etc/dnsmasq.arcana.me.resolv
  ```
  ```
  search arcana.me
  nameserver 4.2.2.4
  nameserver 8.8.8.8
  ```
  
  ## enable and start dnsmasq service
  
  ```bash
  sudo systemctl enable dnsmasq
  sudo systemctl restart dnsmasq
  sudo systemctl status dnsmasq
  ```
  
  ## enable port through firewall
  ```bash
  sudo firewall-cmd --reload
  sudo firewall-cmd --permanent --add-port=53/tcp
  sudo firewall-cmd --permanent --add-port=53/udp
  sudo firewall-cmd --permanent --add-port=67/udp
  sudo firewall-cmd --permanent --add-port=68/udp
  sudo firewall-cmd --reload
  ```
  
  ## Connect ProxMox1 to DHCP Server
  
  **System -> DNS -> 10.0.0.2, 4.2.2.4, 8.8.8.8**
  
  **Reboot ProxMox1**
  
  ## Disable outside DNS on eth1 on router.arcana.me
  
  ```bash
  sudo vim /etc/sysconfig/network-scripts/ifcfg-eth1
  ```
  ```
  [ x ] DNS1
  [ x ] DNS2
  ```
  ```bash
  sudo reboot
  ```
  
  ## Connect other VM's to DHCP Server
  
  For these VMs
  
  1. router.arcana.me
  2. ntp.arcana.me
  3. cephadm.arcana.me
  4. cephmon1.arcana.me
  5. cephosd1.arcana.me
  6. dhcp.arcana.me
  
  **procedure:**
  
  ```bash
  sudo vim /etc/sysconfig/network-scripts/ifcfg-eth2
  ```
  ```
  DNS1=10.0.0.2
  DNS2=4.2.2.4
  DNS3=8.8.8.8
  ```
  ```bash
  sudo reboot
  ```
  
  ## Create DNS-enabled Template VM
  
  Property | Value
  --- | ---
  Name | centos7-hardened-ovs-ntp-ceph-dns
  Clone | centos7-hardened-ovs-ntp-ceph
  
  **Perform procedure as above**
  
  ## Ceph Admin Node
  
  perform these on ceph user
  ```bash
  su - ceph_u
  ```
  ```bash
  cd ~/my-cluster
  ```
  ```bash
  # copy ssh id
  ~/my-cluster/copy-ssh-id.sh
  ```
  ```bash
  # copy hosts
  ~/my-cluster/copy-hosts.sh
  ```
  
  ## DHCP Node
  
  **Reboot dnsmasq service**
  
  ```bash
  sudo systemctl enable dnsmasq
  sudo systemctl restart dnsmasq
  sudo systemctl status dnsmasq
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-08T06:53:07.793Z"
updatedAt: "2017-09-30T19:10:59.599Z"
