type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create HA (over RBD) versions of VM's"
content: '''
  # Create HA (over RBD) versions of VM's
  
  
  ## Migrate router
  
  1. Shutdown router.arcana.me
  2. Clone (name = ha-router.arcana.me, target = rbd)
  3. Disable Start at Boot from router.arcana.me
  4. Power on ha-router.arcana.me
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-05T21:56:31.709Z"
updatedAt: "2017-09-05T22:00:33.733Z"
