type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Post Configure Ceph Admin Node (NTP)"
content: '''
  # Post Configure Ceph Admin Node (NTP)
  
  disconnect from internet
  ```bash
  sudo vim /etc/sysconfig/network-scripts/ifcfg-eth2
  ```
  ```
  [ x ] GATEWAY
  [ x ] DNS1
  [ x ] DNS2
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  configure NTP
  ```bash
  sudo vim /etc/chrony.conf
  ```
  ```
  server 10.0.3.2 iburst
  # server 0.centos.pool.ntp.org iburst
  # server 1.centos.pool.ntp.org iburst
  # server 2.centos.pool.ntp.org iburst
  # server 3.centos.pool.ntp.org iburst
  ```
  
  disable modification of chrony by dhcp
  ```bash
  sudo mv /etc/dhcp/dhclient.d/chrony.sh /home/arcana
  sudo mv /usr/libexec/chrony-helper /usr/libexec/.chrony-helper
  sudo bash -c 'echo "#!/bin/bash" > /usr/libexec/chrony-helper'
  sudo chown root:root /usr/libexec/chrony-helper
  sudo chmod 755 /usr/libexec/chrony-helper
  ```
  
  enable and restart services
  ```bash
  sudo systemctl enable chronyd.service
  sudo systemctl start chronyd.service
  sudo systemctl status chronyd.service
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  verify chrony sources
  ```bash
  sudo chronyc sources -v
  ```
  
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-05T20:44:35.133Z"
updatedAt: "2017-09-30T14:53:53.506Z"
