type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create Bare Router"
content: '''
  # Create Bare Router
  
  Property | Value
  --- | ---
  Name | bare-router.arcana.me
  Clone | centos7-new
  Options | Start At Boot
  IP | 10.0.3.1
  
  # set hostname
  
  ```bash
  sudo hostnamectl set-hostname bare-router.arcana.me
  sudo reboot
  ```
  
  # configure network
  
  configure static ip on provider network
  ```bash
  sudo vi /etc/sysconfig/network-scripts/ifcfg-eth1
  ```
  ```
  BOOTPROTO=none
  ONBOOT=yes
  IPADDR=192.168.201.2
  PREFIX=24
  GATEWAY=192.168.201.1
  DNS1=4.2.2.4
  DNS2=8.8.8.8
  ```
  
  configure static ip on cluster network
  ```bash
  sudo vi /etc/sysconfig/network-scripts/ifcfg-eth2
  ```
  ```
  IPADDR=10.0.3.1
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  # configure as router
  
  configure sysctl
  ```bash
  sudo vi /etc/sysctl.conf
  ```
  ```
  # allow ping
  net.ipv4.icmp_echo_ignore_all = 0
  
  # as router ip forwarding
  net.ipv4.ip_forward=1
  net.ipv4.conf.all.rp_filter=0
  net.ipv4.conf.default.rp_filter=0
  net.ipv4.conf.eth0.rp_filter=0
  net.ipv4.conf.eth1.rp_filter=0
  net.ipv4.conf.eth2.rp_filter=0
  net.ipv4.conf.all.accept_source_route=1
  net.ipv4.conf.default.accept_source_route=1
  net.ipv4.conf.eth0.accept_source_route=1
  net.ipv4.conf.eth1.accept_source_route=1
  net.ipv4.conf.eth2.accept_source_route=1
  ```
  
  reload sysctl
  ```bash
  sudo sysctl -p
  ```
  
  check if forwarding is enabled
  ```bash
  sudo sysctl -a | grep "ipv4\\\\.conf\\\\.\\\\w*\\\\.forwarding" | more
  sudo sysctl -a | grep "ipv4\\\\.conf\\\\.\\\\w*\\\\.rp_filter" | more
  sudo sysctl -a | grep "ipv4\\\\.conf\\\\.\\\\w*\\\\.accept_source_route" | more
  ```
  
  enable firewalld
  ```bash
  sudo systemctl enable firewalld
  sudo systemctl restart firewalld
  sudo systemctl status firewalld
  ```
  
  allow ssh
  ```bash
  sudo firewall-cmd --reload
  sudo firewall-cmd --permanent --add-service=ssh
  sudo firewall-cmd --reload
  ```
  
  list all firewalld zones
  ```bash
  sudo firewall-cmd --list-all
  ```
  
  enable ip masquerading
  ```bash
  sudo firewall-cmd --reload
  sudo firewall-cmd --zone=public --permanent --add-masquerade
  sudo firewall-cmd --reload
  ```
  
  set iptables default forward policy to accept
  ```bash
  sudo iptables -P FORWARD ACCEPT
  ```
  
  reboot
  ```bash
  sudo reboot
  ```
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-02T19:33:03.009Z"
updatedAt: "2017-09-02T19:50:12.709Z"
