type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Index"
content: '''
  # Index
  
  - [x] Prepare Environment
  - [x] Install First ProxMox Server
  - [x] Install a New CentOS 7
  - [x] Create Bare Router
  - [x] Create Base CentOS Image
  - [x] Create Hardened CentOS Image
  - [x] Create Hardened CentOS with OVS
  - [x] Create Router Server
  - [x] Create NTP Server
  - [x] Create Ceph Template Image
  - [x] Create Ceph Admin Node
  - [x] Create First Ceph Monitor
  - [x] Create First Ceph OSD
  - [x] Connect First ProxMox Server To RBD
  - [x] Create HA (over RBD) versions of VM's
  - [x] Create DHCP Server
  - [x] Create SSH Box
  - [x] Create Kerberos Server
  - [x] Connect Existing VMs to Kerberos
  - [x] Create Kerberos Enabled Template VMs
  - [x] Create LDAP Server
  - [x] Create LDAP Enabled Template VMs
  - [x] Setup NFS Service
  - [x] Connect Existing VM's to NFS
  - [ ] Create Mail Server for Cluster
  
'''
tags: []
isStarred: true
isTrashed: false
createdAt: "2017-08-30T09:38:45.981Z"
updatedAt: "2017-10-01T12:27:07.698Z"
