type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Index"
content: '''
  # Index
  
  - [x] Prepare Environment
  - [x] Install First ProxMox Server
  - [x] Install a New CentOS 7
  - [x] Create Bare Router
  - [x] Create Base CentOS Image
  - [x] Create Hardened CentOS Image
  - [x] Create Hardened CentOS with OVS
  - [x] Create Router Server
  - [x] Create NTP Server
  - [x] Create Pre Ceph VM Image
  - [x] Create Ceph Admin Node
  - [x] Create First Ceph Monitor
  - [x] Create Ceph Base Image
  - [x] Post Configure Ceph Admin Node (NTP)
  - [x] Create Ceph Monitor Template Image
  - [x] Create Ceph OSD Template Image
  - [x] Create First Ceph OSD
  - [x] Connect First ProxMox Server To RBD
  - [x] Create HA (over RBD) versions of VM's
  - [x] Create DHCP Server
  - [x] Create SSH Box
  - [x] Create Kerberos Server
  - [x] Connect Existing VMs to Kerberos
  - [x] Create Kerberos Enabled Template VMs
  - [ ] Connect ProxMox1 to Kerberos Server
  - [ ] Create LDAP Server
  - [ ] Create LDAP Enabled Template VMs
  - [ ] Setup NFS Service
  - [ ] Connect Existing VM's to NFS
  - [ ] Fix Ceph Admin Node with new Mechanisms
'''
tags: []
isStarred: true
isTrashed: false
createdAt: "2017-08-30T09:38:45.981Z"
updatedAt: "2017-09-26T22:32:07.093Z"
