type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "NETWORK CONFIGURATION"
content: '''
  # NETWORK CONFIGURATION
  
  * __Network__: 10.0.0.0/20
  * __Subnet__: 255.255.240.0
  
  Subnet | Assignment
  --- | ---
  0 | HA core services
  1 | Ceph monitors
  2 | Ceph OSDs
  3 | Bare Core Services
  4 | Static IP Range
  5 | Dynamic IP Range
  6 | ProxMox Servers
  7 | Bare Metal Servers
  8 | Ceph MDS
  9 | VM Templates
  
  ## IP List
  
  IP | Name
  --- | ---
  10.0.0.1 | cephadm.arcana.me
  10.0.0.2 | dhcp.arcana.me
  10.0.1.1 | cephmon1.arcana.me
  10.0.2.1 | cephosd1.arcana.me
  10.0.3.1 | bare-router.arcana.me
   | router.arcana.me
  10.0.3.2 | ntp.arcana.me
  10.0.6.1 | proxmox1.arcana.me
  10.0.9.1 | centos7-new
   | centos7-base
   | centos7-hardened
   | centos7-hardened-ovs
  10.0.9.2 | centos7-preceph
   | centos7-ceph
   | centos7-cephmon
   | centos7-cephosd
'''
tags: []
isStarred: true
isTrashed: false
createdAt: "2017-08-30T10:44:13.330Z"
updatedAt: "2017-09-08T06:58:30.975Z"
