type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Connect First ProxMox Server To RBD"
content: '''
  # Connect First ProxMox Server To RBD
  
  ## configure ceph_u administration user
  
  create a user for ceph installation
  ```bash
  sudo useradd -d /home/ceph_u -m ceph_u
  sudo passwd ceph_u
  ```
  
  make ceph installtion user sudo without password
  ```bash
  echo "ceph_u ALL = (root) NOPASSWD:ALL" | sudo tee /etc/sudoers.d/ceph_u
  sudo chmod 0440 /etc/sudoers.d/ceph_u
  ```
  
  ## change ssh port
  
  ```bash
  sudo nano -w /etc/ssh/sshd_config
  ```
  ```
  Port 2122
  ```
  
  ## Change SSH Config in KVM Host
  
  ```bash
  vim ~/.ssh/config
  ```
  ```
  Host proxmox1.arcana.me
    Hostname 192.168.200.2
    Port 2122
    User root
  ```
  
  ## Reboot ProxMox1
  
  ## Ceph Admin Node
  
  perform these on ceph user
  ```bash
  su - ceph_u
  ```
  ```bash
  cd ~/my-cluster
  
  # add to hosts
  sudo vim /etc/hosts
  ```
  ```
  10.0.6.1    hv-proxmox1
  ```
  ```bash
  # copy ssh id
  ~/my-cluster/copy-ssh-id.sh
  ```
  ```bash
  # copy hosts
  ~/my-cluster/copy-hosts.sh
  ```
  ```bash
  # copy ceph config
  ceph-deploy admin hv-proxmox1
  ```
  
  ## Create Configurations for RBD
  
  ```bash
  sudo mkdir -p /etc/pve/priv/ceph/
  sudo cp /etc/ceph/ceph.client.admin.keyring /etc/pve/priv/ceph/rbd.keyring
  ```
  
  # add new storage
  Datacenter -> Storage -> Add -> RBD -> 
  					ID: rbd
  					Pool: rbd
  					Monirors(s): "10.0.1.1"
  					Username: admin
  					Nodes: proxmox1
  					Content: Disk Image, Container
  					KRBD: false
            
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-04T22:04:57.236Z"
updatedAt: "2017-09-30T15:09:26.530Z"
