type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create Ceph Template Image"
content: '''
  # Create Ceph Template Image
  
  Property | Value
  --- | ---
  Name | centos7-hardened-ovs-ntp-ceph
  Clone | centos7-hardened-ovs-ntp
  
  ## configure vm image
  
  create a user for ceph installation
  ```bash
  sudo useradd -d /home/ceph_u -m ceph_u
  sudo passwd ceph_u
  ```
  
  make ceph installtion user sudo without password
  ```bash
  echo "ceph_u ALL = (root) NOPASSWD:ALL" | sudo tee /etc/sudoers.d/ceph_u
  sudo chmod 0440 /etc/sudoers.d/ceph_u
  ```
  
  ## install ceph packages
  
  ```bash
  sudo pip install ceph-deploy
  nano -w ~/.ssh/config
  ```
  ```
  Host localhost
    Hostname localhost
    User ceph_u
    Port 2122
  ```
  ```bash
  chmod 600 ~/.ssh/config
  ssh-copy-id localhost
  ```
  ```bash
  ceph-deploy install localhost
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-04T17:56:23.803Z"
updatedAt: "2017-09-30T14:14:34.403Z"
