type: "MARKDOWN_NOTE"
folder: "115ff3f5d3b29d825305"
title: "Create Ceph Monitor Template Image"
content: '''
  # Create Ceph Monitor Template Image
  
  Property | Value
  --- | ---
  Name | centos7-cephmon
  Clone | centos7-ceph
  Memory | 1 GB
  
  ## configure
  
  enable port through firewall
  ```bash
  sudo firewall-cmd --reload
  sudo firewall-cmd --permanent --add-service=ceph-mon
  sudo firewall-cmd --reload
  ```
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-04T20:54:35.871Z"
updatedAt: "2017-09-30T14:54:15.792Z"
