#!/usr/bin/env bash

# global definitions
DESTINATION=/srv/minecraft/backup
SOURCE=/srv/minecraft/worlds
CONTAINER=minecraft.ucoder.ir

# vars
BASH=`which bash`
DOCKER=`which docker`
OUTPUT="`date +'%Y-%m-%d-%H-%M-%S'`.tar.xz"

# preparation
rm -rfv $DESTINATION/temp
mkdir -p $DESTINATION/temp

# function to send commands to minecraft server
function run_command() 
{
    bash -c "echo '$1' | docker attach ${CONTAINER}"&
    QUERY_PID=$!
    sleep 1
    kill -9 ${QUERY_PID}
}

# issue initial save resume command
run_command 'save resume'

# begin logging
${BASH} -c "docker logs --tail=0 -f ${CONTAINER} > ${DESTINATION}/temp/logs.txt"&
LOGGER_PID=$!

# issue save hold command
run_command 'save hold'

# begin acquiring data
run_command 'save query'

# loop until data is available
until grep "CURRENT" ${DESTINATION}/temp/logs.txt > /dev/null; do \
    sleep 1; \
    echo "trying to acquire list of files..."; \
    run_command 'save query'; \
done;

# get list of files
FILES=`grep "CURRENT" ${DESTINATION}/temp/logs.txt`

# copy files to temp
for f in $FILES; do \
    FILE=`echo "$f" | sed 's|:.*$||g'`; \
    ANOTHER_FILE=`echo $FILE | sed 's|^\(.*\)/\([^/]*\)$|\1/db/\2|g'`; \
    SIZE=`echo "$f" | sed 's|^[^:]*:||g' | sed 's|,$||g'`; \
    DIR_NAME="`dirname $FILE`"; \
    ANOTHER_DIR_NAME="`dirname $ANOTHER_FILE`"; \
    echo copying $SOURCE/$FILE of size $SIZE to $DESTINATION/temp/$FILE; \
    mkdir -p $DESTINATION/temp/$DIR_NAME; \
    mkdir -p $DESTINATION/temp/$ANOTHER_DIR_NAME; \
    if [ -f $SOURCE/$FILE ]; then \
        cp -v $SOURCE/$FILE $DESTINATION/temp/$FILE; \
    else \
        cp -v $SOURCE/$ANOTHER_FILE $DESTINATION/temp/$ANOTHER_FILE; \
    fi; \
    if [ -f $DESTINATION/temp/$FILE ]; then \
        truncate -s $SIZE $DESTINATION/temp/$FILE; \
    else \
        truncate -s $SIZE $DESTINATION/temp/$ANOTHER_FILE; \
    fi; \
done;

# issue save resume command
run_command 'save resume'

# stop logging
kill -9 ${LOGGER_PID}
sleep 1

# delete log file
rm -fv ${DESTINATION}/temp/logs.txt

# create tarball
pushd $DESTINATION/temp
tar -cvf - . | xz -e9 - > $DESTINATION/$OUTPUT
popd

# copy backup to fileserver
mkdir -p /usr/share/nginx/files.ucoder.ir/minecraft-backups/
cp $DESTINATION/$OUTPUT /usr/share/nginx/files.ucoder.ir/minecraft-backups/

#‌ copy backup to ftp server
pushd $DESTINATION

echo "
 verbose
 passive
 open {{ ftp_host }}
 user {{ ftp_username }} {{ ftp_password }}
 mkdir backups
 cd backups
 mkdir minecraft
 cd minecraft
 bin
 put $OUTPUT
 bye
" | ftp -n

popd

# remove output file
rm -f $DESTINATION/$OUTPUT

# kill all remaining processes
ps aux | grep "docker attach" | awk '{print $2}' | xargs -n 1 kill -9
ps aux | grep "docker logs" | awk '{print $2}' | xargs -n 1 kill -9
