server {
   listen         {{ item.value.listen | default(80) }};
   listen    [::]:{{ item.value.listen | default(80) }};
   server_name    {{ item.value.domains | join(' ') }};
   location / {
   return         301 https://$server_name$request_uri;
   }

   location /.well-known/acme-challenge {
      alias /var/www/{{ item.key }}/.well-known/acme-challenge;
   }

   access_log /var/log/nginx/{{ item.key }}_access.acme.log;
   error_log /var/log/nginx/{{ item.key }}_error.acme.log error;

}
